/* General */

body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.overlay-tint {
    background-color: rgba(60, 80, 65, 0.58);
    width: 100%;
    height: 100%;
}

/* Footer */

.footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}

/* Navbar */

.navbar-brand {
    display: table !important;
    margin: 0 auto !important;
    text-align: center;
    float: none;
}

.navbar-header {
    float: none;
}

.brand-container {
    padding-top: 10px;
    font-size: 30px;
    color: #fff;
}

.nav-left > * {
    float: left;
}

.nav-right > * {
    float: right;
}

@media(min-width: 768px) {

    .navbar {
        border: none;
        box-shadow: 0 5px 5px grey;
    }

    .navbar-collapse {
        margin-top: -55px;
    }

    .navbar-collapse > * {
        display: inline-block;
        margin: 0;
    }

    .nav-left {
        width: 50%;
        padding-right: 100px;
    }

    .nav-right {
        padding-left: 100px;
    }

    .nav-left > * {
        float: right;
    }
}

.nav > li > a:focus, .nav > li > a:hover,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    color: #ccc;
    background-color: transparent;
}

.nav a {
    color: #fff;
}

.navbar-toggle {
    border-color: #fff;
}

/* File button */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.tile-text {
    color: #eee;
    overflow: hidden;
    padding: 10px 20px 10px 20px;
    width: 100%;
    display: block;
    align-self: flex-end;
    margin: 0;
    background: rgba(0, 0, 0, 0.75);
    font-size: 15px;
}

/* Product tile */

.tile-background {
    height: 300px;
    background: center / cover;
    display: flex;
}

.tile {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.tile-container {
    padding-bottom: 15px;
    padding-top: 15px;
}

.tile-title {
    font-size: 30px;
}

