/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.cd-svg-clipped-slider html,
.cd-svg-clipped-slider body,
.cd-svg-clipped-slider div,
.cd-svg-clipped-slider span,
.cd-svg-clipped-slider applet,
.cd-svg-clipped-slider object,
.cd-svg-clipped-slider iframe,
.cd-svg-clipped-slider h1,
.cd-svg-clipped-slider h2,
.cd-svg-clipped-slider h3,
.cd-svg-clipped-slider h4,
.cd-svg-clipped-slider h5,
.cd-svg-clipped-slider h6,
.cd-svg-clipped-slider p,
.cd-svg-clipped-slider blockquote,
.cd-svg-clipped-slider pre,
.cd-svg-clipped-slider a,
.cd-svg-clipped-slider abbr,
.cd-svg-clipped-slider acronym,
.cd-svg-clipped-slider address,
.cd-svg-clipped-slider big,
.cd-svg-clipped-slider cite,
.cd-svg-clipped-slider code,
.cd-svg-clipped-slider del,
.cd-svg-clipped-slider dfn,
.cd-svg-clipped-slider em,
.cd-svg-clipped-slider img,
.cd-svg-clipped-slider ins,
.cd-svg-clipped-slider kbd,
.cd-svg-clipped-slider q,
.cd-svg-clipped-slider s,
.cd-svg-clipped-slider samp,
.cd-svg-clipped-slider small,
.cd-svg-clipped-slider strike,
.cd-svg-clipped-slider strong,
.cd-svg-clipped-slider sub,
.cd-svg-clipped-slider sup,
.cd-svg-clipped-slider tt,
.cd-svg-clipped-slider var,
.cd-svg-clipped-slider b,
.cd-svg-clipped-slider u,
.cd-svg-clipped-slider i,
.cd-svg-clipped-slider center,
.cd-svg-clipped-slider dl,
.cd-svg-clipped-slider dt,
.cd-svg-clipped-slider dd,
.cd-svg-clipped-slider ol,
.cd-svg-clipped-slider ul,
.cd-svg-clipped-slider li,
.cd-svg-clipped-slider fieldset,
.cd-svg-clipped-slider form,
.cd-svg-clipped-slider label,
.cd-svg-clipped-slider legend,
.cd-svg-clipped-slider table,
.cd-svg-clipped-slider caption,
.cd-svg-clipped-slider tbody,
.cd-svg-clipped-slider tfoot,
.cd-svg-clipped-slider thead,
.cd-svg-clipped-slider tr,
.cd-svg-clipped-slider th,
.cd-svg-clipped-slider td,
.cd-svg-clipped-slider article,
.cd-svg-clipped-slider aside,
.cd-svg-clipped-slider canvas,
.cd-svg-clipped-slider details,
.cd-svg-clipped-slider embed,
.cd-svg-clipped-slider figure,
.cd-svg-clipped-slider figcaption,
.cd-svg-clipped-slider footer,
.cd-svg-clipped-slider header,
.cd-svg-clipped-slider hgroup,
.cd-svg-clipped-slider menu,
.cd-svg-clipped-slider nav,
.cd-svg-clipped-slider output,
.cd-svg-clipped-slider ruby,
.cd-svg-clipped-slider section,
.cd-svg-clipped-slider summary,
.cd-svg-clipped-slider time,
.cd-svg-clipped-slider mark,
.cd-svg-clipped-slider audio,
.cd-svg-clipped-slider video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.cd-svg-clipped-slider article,
.cd-svg-clipped-slider aside,
.cd-svg-clipped-slider details,
.cd-svg-clipped-slider figcaption,
.cd-svg-clipped-slider figure,
.cd-svg-clipped-slider footer,
.cd-svg-clipped-slider header,
.cd-svg-clipped-slider hgroup,
.cd-svg-clipped-slider menu,
.cd-svg-clipped-slider nav,
.cd-svg-clipped-slider section,
.cd-svg-clipped-slider main {
	display: block;
}
.cd-svg-clipped-slider body {
	line-height: 1;
}
.cd-svg-clipped-slider ol,
.cd-svg-clipped-slider ul {
	list-style: none;
}
.cd-svg-clipped-slider blockquote,
.cd-svg-clipped-slider q {
	quotes: none;
}
.cd-svg-clipped-slider blockquote:before,
.cd-svg-clipped-slider blockquote:after,
.cd-svg-clipped-slider q:before,
.cd-svg-clipped-slider q:after {
	content: '';
	content: none;
}
.cd-svg-clipped-slider table {
	border-collapse: collapse;
	border-spacing: 0;
}